:root {
  --image: url("https://cssbattle.dev/targets/1.png");
}

html,
body {
  font-size: 18px;
  color: hsl(0 0% 100% / 0.4);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  gap: 40px 20px;
  background: hsl(235 19% 13%);
  padding-top: 40px;
  font-family: sans-serif;
}

#main::after {
  display: none;
}

.canvas {
  width: 400px;
  height: 300px;
  position: relative;
}

.canvas::before {
  position: absolute;
  top: -1.4rem;
  left: 0;
}

#main::before {
  content: "Rendu";
}
.ref::before {
  content: "Référence";
}
.diff::before {
  content: "Différence";
}
.overlay::before {
  content: "Superposition";
}

.canvas::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--image) center center / 100% 100% no-repeat;
}

.overlay::after {
  opacity: 0.2;
}

.diff::after {
  mix-blend-mode: difference;
}

.body {
  height: 300px;
}
