:root {
  --image: url("https://cssbattle.dev/targets/7.png");
}

html,
body {
  font-size: 18px;
  color: hsl(0 0% 100% / 0.4);
}

body {
  margin: 0;
  padding: 0;
  background: hsl(235 19% 13%);
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  gap: 40px 20px;
  padding-top: 60px;
}

#main::after {
  display: none;
}

.canvas {
  width: 400px;
  height: 300px;
  position: relative;
}

.canvas::before {
  position: absolute;
  top: -1.4rem;
  left: 0;
}

#main::before {
  content: "Rendu";
}
.ref::before {
  content: "Référence";
}
.diff::before {
  content: "Différence";
}
.overlay::before {
  content: "Superposition";
}

.canvas::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--image) center center / 100% 100% no-repeat;
}

.overlay::after {
  opacity: 0.2;
}

.diff::after {
  mix-blend-mode: difference;
}

.body {
  height: 300px;
}

form {
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input {
  width: 300px;
  height: 40px;
  border: 1px solid hsl(0 0% 100% / 0.4);
  border-right: none;
  border-radius: 5px;
  background: hsl(235 19% 13%) center center / 100% 100% no-repeat;
  color: hsl(0 0% 100% / 0.4);
  font-size: 12px;
  padding: 0 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#btn {
  font-size: 18px;
  height: 40px;
  font-weight: bold;
  background: rgba(244, 237, 237, 0.803);
  color: hsl(235 19% 13%);
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.2s;
}
#btn:hover {
  background: hsl(235 19% 13%);
  color: hsl(0 0% 100% / 0.4);
}
